body{
  background-color: #dcca7178;
  color: #9b4c0c;
}

li{
  font-weight: bold;
  color: #411e02;
}

button{
  border: solid #9b4c0c;
  background-color: #ee99d066;
}

button:hover{
  background-color: #bf4f97be;
}

h1{
  font-size: 3em;
}

h2{
  text-decoration: underline;
}

ul{
  list-style: none;
}

.header{
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head_nav{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 5px solid;
}

.nav_links{
  text-decoration: none;
  color: #9b4c0c;
  padding: 10px;
  border: solid #411e02;
  border-radius: 20px;
  background-color: #ee99d066;
}

.nav_links:hover{
  background-color: #bf4f97be;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  height: 75vh;
}

.todo_form{
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 7%;
  justify-content: space-between;
  padding-top: 5px;
}

.todo_form div label{
  margin-right: 10px;
}

.bottom_main{
  width: 100%;
  height: 93%;
  display: flex;
  border: 6px double #9b4c0c;
  background-color: #ee99d066;
}

.today_todo{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
}

.todays_todos_todo{
  flex: 1;
}

.todays_finished_todos{
  flex: 1;
}

.todays_finished_todos h2{
  text-align: center;
}

.longterm_todo{
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 6px double #9b4c0c;
}

.week_left_todo{
  flex: 1;
}

.month_left_todo{
  flex: 1;
}

.weekly_main{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  height: 75vh;
}

.this_week_tracker{
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
}

.this_week_tracker table{
  border-collapse: collapse;
  flex-grow: 1;
  border-style: solid;
  table-layout: fixed;
  width: 100%;
  border: 6px double #9b4c0c;
  background-color: #ee99d066;
}

.weekdays{
  height: 15%;
}

.weekdays td p{
  color: #411e02;
}

td{
  border-style: dotted;
  text-align: center;
}

.add_event{
  height: 15%;
  width: 20%;
  font-size: medium;
  margin: 15px;
}

.left_todo_thisweek{
  flex: 1;
  text-align: center;
  background-color: #ee99d066;
  border: 6px double #9b4c0c;
}

.month_main{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  /* height: 75vh; */
}

.month_goals{
  margin: 20px;
  padding: 20px;
  border: 6px double #9b4c0c;
  background-color: #ee99d066;
}
